body
{
	background-image: url("images/topo2.png");
	background-color: #EEEDE0;
	font-family: cursive;
	font-size: 1.2em;
}

header
{
	background: url("images/elf&mer.png") no-repeat left,
				url("images/japon2.png") no-repeat right;
	background-size: contain;
	text-align: center;
}

nav
{
	font-size: 1em;
	margin: auto;
	width: 50%;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

nav a:hover
{
	transition: background-color .5s;
	background-color: rgba(150, 150, 150, .4);
	opacity: 1;
}

h1
{
	margin-bottom: 2%;
	font-size: 4em;
}

nav a
{
	border-radius: 10px;
	padding: 5px;
	transition: background-color.5s;
	text-decoration: none;
	font-size: 1.8em;
	opacity: 0.75;
}

a:visited
{
	color: green;
}

ul
{
	width: 80%;
	margin: auto;
	padding: 50px 0 50px 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	grid-gap: 15px;
}

li
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

img
{
	--index: 0;
	position: relative;
	object-fit: contain;
	border-radius: 50px;
	animation: slidein 2s ease-out both;
	animation-delay: calc(0.2s * var(--index));
}

.introduction
{
	margin: auto;
	margin-left: 20px;
	text-align: center;
}


@keyframes slidein
{
	from {
		left: -400px;
		transform: rotate(-360deg);
	}
	to {
		left: 0;
		transform: rotate(0deg);
	}
}